<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Me quiero moriiir</h1>
    <p>Putisimaa madreee 🤸</p>
    <h1>Holaaaaaaaaa</h1>
        <h1> Form <h1>
        <form method="post" action="/modeloForm"></form>
            <label>pH</label>
            <input type="text" name="pH"/>
            <br/>
            <label>Sulphates</label>
            <input type="text" name="sulphates"/>
            <br/>
            <label>Alcohol</label>
            <input type="text" name="alcohol"/>
            <br/>
            <button type="submit">Enviar</button>
        </form>
        </body>
</html>